<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume | All submissions</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
    <div style="text-align: center; margin: 30px 10px; " >
        <h1>All Submissions</h1>
    </div>
    <hr>
    <br>
    <br>
    <div style="position: relative; width: 100vw; margin: auto;">
        <ul style="list-style-type:none;">
            <li>1) &nbsp;<span>Piyush Gupta</span> &nbsp; &nbsp; <span>30-08-2000</span> &nbsp; &nbsp; <span>India</span> &nbsp; &nbsp; <span type="button" class="btn btn-primary"><a href="/resume/view/1" style="text-decoration: none; color: white;">View Resume</a></span>&nbsp;&nbsp;<button type="button" class="btn btn-danger"><a href="/resume/delete/1" style="text-decoration: none; color: white;">Delete Resume</a></button></li>
        </ul>
    </div>
    <script href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>